/* List Styles */
.ProseMirror ul,
.ProseMirror ol {
  padding-left: 1.5em;
  margin: 0.75em 0;
}

.ProseMirror ul {
  list-style-type: disc;
}

.ProseMirror ol {
  list-style-type: decimal;
}

.ProseMirror li {
  margin: 0.25em 0;
}

/* SSR/tiptap-content list styles */
.tiptap-content ul,
.tiptap-content ol {
  padding-left: 1.5em;
  margin: 0.75em 0;
}

.tiptap-content ul {
  list-style-type: disc;
}

.tiptap-content ol {
  list-style-type: decimal;
}

.tiptap-content li {
  margin: 0.25em 0;
}
